/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis declarações */
:root {
    --color-orange: #e6630d;
    --color-light: #ffffff;
    --color-blue: rgb(12, 7, 39);
    --font-body: 'Poppins', sans-serif; 
    --border-radius: 20px;
    --transition: .5s;
}

body {
    font-family: var(--font-body); 
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 700;
    transition: var(--transition);
}

#botao {
    color: #1B1B1B;
}

a#botao-cadastre.btn {
    background-color: #509538; /* Define a cor de fundo do botão de cadastro */
    color: var(--color-light); /* Define a cor do texto usando a variável */
}

a:hover {
    color: azure;
}

/**********************  header *********************/
.header-page { 
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-menu ol {
    display: flex;
    gap: 15px;
}

.header-page h2 {
    color: var(--color-light);
    font-size: 30px;    
}

.header-span {
    background-color: var(--color-orange);
    padding: 5px;
    border-radius: var(--border-radius);
}
/******************** fim header *******************/

/******************** Hero *******************/
.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.8)),
    url(../images/iStock-1045032628.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda */
    justify-content: center;
    gap: 30px;
    color: var(--color-light);
    text-align: left; /* Alinha texto à esquerda */
    padding-left: 50px; /* Adiciona padding à esquerda */
}

.hero h1 {
    font-size: 5.5vmin; /* Tamanho da fonte */
   
    line-height: 1.2; /* Espaçamento entre linhas */
   
}

.hero h3 {
    line-height: 0.2; /* Espaçamento */
    font-size:2.1vmin; /* tamanho texto */
}

.hero p {
    font-weight: 600;
}

.btn {
    background-color: #EEEEEE;
    padding: 8px 35px;
    border-radius: 2px solid var(--color-orange);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.btn:hover {
    background-color: transparent;
}

/******************** sessao2 *******************/
.sessao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: var(--color-light);
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.sessao2-content, .sessao2-image {
    flex: 1;
    padding: 20px;
}

.sessao2-content {
    max-width: 50%;
}

.sessao2-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var (--color-blue);
    line-height: 1.2;
}

.sessao2-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--color-blue);
    line-height: 1.5;
}

#faça-parte {
    background-color: var(--color-blue);
    color: var(--color-light);
}

.sessao2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8.5%;
    width: 30%;
    height: 100%;
    background-image: url('../images/Logo vetor.png');
    background-size: cover;
    background-position: center;
    opacity: 0.10;
    z-index: 0;
}

.sessao2-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao2-image img {
    max-width: 100%;
    border-radius: var(--border-radius);
}
